/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
    margin-top: 20px
}

.carousel-cell {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 10px;
    background-color: rgb(258, 258, 258);
    border: 1px solid rgb(238, 237, 237);
    border-radius: 20px;
    counter-increment: carousel-cell;
    cursor: pointer;
}
.carousel-cell:hover{
    border: 1px solid rgb(238, 237, 237);
    color: #FA8900;;
}
.carousel-cell.is-selected{
    background: rgb(258, 258, 258);
}
.carousel-cell.is-selected:hover{
    color: #FA8900;;
}

/* cell number */
.flickity-page-dots{
    display: none;
}
.flickity-button{
    background-color: #FA8900;
    color: white;
    width: 30px;
    height: 30px;
    opacity: .3;
}
.flickity-button:hover{
  opacity: 1;
  background-color: #e07b00;
}